body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: grey;
    background-image: linear-gradient(to right, rgb(250,250,250), rgb(120,120,120));
}
header{
    position: sticky;
    position: -webkit-sticky-;
    top: 0;
}
header h1{
    padding: 0.8em 1em;
    margin: 0;
    background-color: #000;
    color: #fff;
}
div.navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #f0f0f0;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
}
div.navbar a{
    padding: 1em 1em;
    display: inline-block;
    text-decoration: none;
    color:#fff;
}
div.navbar a:hover{
    background-color: #555;
}
div.navbar a.active{
    background: orange;
    color: #000;

}
.infotext{
    padding: 2em;
    top: 5%;
}

@media(min-width: 1081px)
{
div.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 30%;
}
}
@media(max-width: 1080px)
{
    div.grid-container{
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        justify-content: space-evenly;
    }
    div.img-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
    }

}
div.photo{
    width: 100%;
    height: 100vw;
    background-color: #555;
}

.Heading{
  right: 75%;
  top: 20%;
  font-style: italic;
  color: red;
}


.button {
    background-color: gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover{
    background-color: #000
}
img#mikro{
    width: 75%;
    height: auto;
    position:static;
    
}


#produktbilde{
  height: 60%;
  width: 60%;
}



input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 16px;

}

input[type=submit] {
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: grey;
}

.container {
  padding-left: 10%;
    background-color: #f2f2f2;
    padding: 7px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


.row:after {
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.button2{
  background-color: gray;
  color: white;
  padding: 15px 32px;

  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2:hover{
    background-color: #000
}


*{
 box-sizing: border-box;
 }


.column {
   width: 50%;
   padding: 10px;
   height: 900px;
   margin: 0;
}


.maintext{
  line-height: 1.7;
  padding:inherit;
}


#kitchen1{
  height: 45%;
  width: 103%;
  margin: -9px;
  margin-right: 0px;
}

#kitchen2{
  height: 45%;
  width: 103%;
  margin: -9px;
  margin-right: 0px;;
}

#kontaktoss{
color: grey;
}

#takk{
  text-shadow: 5%;
  text-align: center;
}

.button3{
  background-color: gray;
  color: white;
  padding: 15px 32px;

  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button3:hover{
    background-color: #000
}

.ja{
  padding: 7px;
}


#GB{
  height: 1em;
    margin-bottom: -16%;
}

#NOR{
  height: 1em;
  margin-bottom: -16%;
}
.langchange{
    float: right;
}
