body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: grey;
    background-image: linear-gradient(to right, rgb(250,250,255), rgb(169,170,169));
}
header{
    position: sticky;
    position: -webkit-sticky-;
    top: 0;
}
header h1{
    padding: 0.1em 1em;
}
div.navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #f0f0f0;
    font-size: 15pt;
    font-weight: 500;
    justify-content: center;
}
div.navbar a{
    padding: 1em 1em;
    display: inline-block;
}
div.navbar a:hover{
    background-color: #555;
}
div.navbar a.active{
    background: orange;
    color: #000;

}
.infotext{
    padding: 5em;

    top: 5%;
}

@media(min-width: 1081px)
{
div.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 30%;
}
}
@media(max-width: 1080px)
{
    div.grid-container{
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        justify-content: space-evenly;
    }
}
div.photo{
    width: 100%;
    height: 100vw;
    background-color: #555;
}

.Heading{
  right: 75%;
  top: 20%;
  font-style: italic;
  color: red;
}


.button {
    background-color: gray;

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
